<header class="header fixed-block">
  <div class="container">
    <div class="header__top">
      <a class="header__logo-link" href="/" rel="home">
        <svg class="header__logo" role="img" viewBox="0 0 125 30" arial-label="Логотип LarPradeda">
          <use xlink:href="img/sprite.svg#logo"></use>
        </svg>
      </a>
      <nav class="header__top-menu menu" role="navigation" aria-label="Дополнительная навигация">
        <ul class="menu__list list-reset">
          <li class="menu__item"><a class="menu__link" href=" #">Напиши
              нам</a></li>
          <li class="menu__item"><a class="menu__link" href="#">О
              нас</a></li>
          <li class="menu__item menu-item-has-children">
            <a class="menu__link" href="#">Телефони</a>
            <svg class="menu-item-has-children__icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <use xlink:href="img/sprite.svg#chevron"></use>
            </svg>
            <ul class="menu__sub-list sub-menu list-reset">
              <li class="menu__item">
                <a class="menu__link" href="tel:+380965582148">+38 096 558 21 48</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="tel:+380965582148">+38 096 558 21 48</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="tel:+380965582148">+38 096 558 21 48</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="tel:+380965582148">+38 096 558 21 48</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="tel:+380965582148">+38 096 558 21 48</a>
              </li>
            </ul>
          </li>
          <li class="menu__item menu-item-has-children">
            <a class="menu__link" href="#">Особистий
              кабінет
            </a>
            <svg class="menu-item-has-children__icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <use xlink:href="img/sprite.svg#chevron"></use>
            </svg>
            <ul class="menu__sub-list sub-menu list-reset">
              <li class="menu__item">
                <a class="menu__link" href="#">Авторизуватися</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Зареєструватися</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <form class="header__search-form search" id="searchform" role="search" method="get" action="#">
        <input class="search__input" id="s" type="search" name="s" autocomplete="off" placeholder="Пошук товарів...">
        <button class="search__btn btn-reset" type="submit">
          <svg class="search__icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
          </svg>
        </button>
      </form>
      <button data-burger class="burger btn-reset header__burger" aria-label="Открыть меню" aria-expanded="false">
        <span class="burger__icon burger__line"></span>
      </button>
    </div>
    <div class="header__bottom">
      <nav data-menu class="header__bottom-menu menu">
        <ul class="menu__list list-reset">
          <li class="menu__item"><a class="menu__link" href="">Головна</a></li>
          <li class="menu__item"><a class="menu__link" href="">Категорії товарів</a>
          </li>
          <li class="menu__item menu-item-has-children">
            <a class="menu__link" href="#">Усі
              товари
            </a>
            <svg class="menu-item-has-children__icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <use xlink:href="img/sprite.svg#chevron"></use>
            </svg>
            <ul class="menu__sub-list sub-menu list-reset">
              <li class="menu__item">
                <a class="menu__link" href="#">Підвіси</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Сережки</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Брелки</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Браслети</a>
              </li>
            </ul>
          </li>
          <li class="menu__item"><a class="menu__link" href="">Хіти
              продаж</a></li>
          <li class="menu__item"><a class="menu__link" href="">Акція розпродаж</a>
          </li>
        </ul>
      </nav>
      <div data-cart class="header__cart mini-cart">
        <a class="mini-cart__btn" href="#" title="Переглянути кошик">
          <svg class="mini-cart__cart-icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <use xlink:href="img/sprite.svg#cart"></use>
          </svg>
          <div class="mini-cart__cart-quantity">10</div>
        </a>
        <div data-mini-cart class="mini-cart__cart-menu">
          <ul class="mini-cart__list list-reset">
            <li class="mini-cart__item">
              <a class="mini-cart__remove-from-cart-button" href="">
                <svg class="icon-remove-button" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                  <use xlink:href="img/sprite.svg#remove"></use>
                </svg>
              </a>
              <a class="mini-cart__link" href="">
                <img class="mini-cart__img" width="324" height="324" src="./img/blin-na-shtangu.jpeg"
                  alt="Млин для штанги">
                Підвіска Млин для штанги (30мм 11г)
              </a>
              <span class="mini-cart__quantity">1 ×
                <bdi>
                  2100&nbsp;
                  <span>₴</span>
                </bdi>
              </span>
            </li>
            <li class="mini-cart__item">
              <a class="mini-cart__remove-from-cart-button" href="">
                <svg class="icon-remove-button" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                  <use xlink:href="img/sprite.svg#remove"></use>
                </svg>
              </a>
              <a class="mini-cart__link" href="">
                <img class="mini-cart__img" width="324" height="324" src="./img/blin-na-shtangu.jpeg"
                  alt="Млин для штанги">
                Підвіска Млин для штанги (30мм 11г)
              </a>
              <span class="mini-cart__quantity">1 ×
                <bdi>
                  2100&nbsp;
                  <span>₴</span>
                </bdi>
              </span>
            </li>
            <li class="mini-cart__item">
              <a class="mini-cart__remove-from-cart-button" href="">
                <svg class="icon-remove-button" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                  <use xlink:href="img/sprite.svg#remove"></use>
                </svg>
              </a>
              <a class="mini-cart__link" href="">
                <img class="mini-cart__img" width="324" height="324" src="./img/blin-na-shtangu.jpeg"
                  alt="Млин для штанги">
                Підвіска Млин для штанги (30мм 11г)
              </a>
              <span class="mini-cart__quantity">1 ×
                <bdi>
                  2100&nbsp;
                  <span>₴</span>
                </bdi>
              </span>
            </li>
          </ul>
          <!--  -->
          <p class="mini-cart__total">
            <strong>Разом: </strong>
            <span>
              <bdi>
                <span>₴</span>
                300
              </bdi>
            </span>
          </p>
          <p class="mini-cart__buttons">
            <a href="" class="mini-cart__button btn">До
              кошика</a>
            <a href="" class="mini-cart__button btn">Оформити
              замовлення</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</header>