<div class="info-product">
  <div class="info-product__container container">
    <div class="info-product__product">
      <div class="info-product__gallery gallery">
        <div class="gallery__swiper swiper">
          <div class="gallery__wrapper swiper-wrapper">
            <div class="gallery__image-item swiper-slide">
              <img src="./img/card-product/k203-2.jpeg" alt="" class="gallery__image">
            </div>
            <div class="gallery__image-item swiper-slide">
              <img src="./img/card-product/k203-1.jpeg" alt="" class="gallery__image">
            </div>
            <div class="gallery__image-item swiper-slide">
              <img src="./img/card-product/k203-3.jpeg" alt="" class="gallery__image">
            </div>
          </div>
        </div>
        <div class="gallery__mini-swiper swiper">
          <ol class="gallery__mini-swiper__wrapper swiper-wrapper list-reset">
            <li class="gallery__image-item swiper-slide"><img class="gallery__image" width="100" height="100"
                src="./img/card-product/k203-2.jpeg" alt=""></li>
            <li class="image-mini-slider__slide swiper-slide"><img class="gallery__image" width="100" height="100"
                src="./img/card-product/k203-1.jpeg" alt=""></li>
            <li class="image-mini-slider__slide swiper-slide"><img class="gallery__image" width="100" height="100"
                src="./img/card-product/k203-3.jpeg" alt=""></li>
          </ol>
        </div>
      </div>
      <div class="info-product__summary summary">
        <h1 class="summary__title">Перстень Молвінець (11.85г – р18,0)</h1>
        <div class="summary__meta meta">
          <p class="meta__sku">Артикул: К-203-18_0</p>
          <p class="meta__cat">Категорія: <a class="meta__link" href="#">Каблучки</a></p>
          <p class="meta__tag">Позначка: <a class="meta__link" href="#">Перстні</a></p>
        </div>

        <div class="summary__short-description">
          <p>Матеріал: срібло 925 проби</p>
          <p>Ширина: 15 мм</p>
          <p>Вага: 11,85 грам</p>
          <p>Розмір: 18,0</p>
        </div>
        <div class="summary__in-stock">1 в наявності</div>


        <div class="summary__price">
          <span class="summary__del">1280 грн</span>
          <span class="summary__ins">1350 грн</span>
        </div>
        <button class="summary__btn btn btn-reset">Додати в кошик</button>
      </div>
    </div>
  </div>