<section class="recent-products">
  <div class="container">
    <h2 class="recent-products__title">Новинки</h2>

    <ul class="recent-products__products products list-reset">
      <li class="products__item">
        <a class="products__link" href="#">
          <img src="./img/newproducts/kr205-3.jpeg" alt="Хрест срібний" class="products__img">
          <h3 class="products__title">Хрест срібний</h3>
          <span class="onsale">Розпродаж!</span>
          <span class="price">
            <span class="price__old">
              <bdi>3540,00&nbsp;
                <span class="price__currencySymbol">₴</span>
              </bdi>
            </span>
            <span class="price__new">
              <bdi>2800,00&nbsp;
                <span class="price__currencySymbol">₴</span>
              </bdi>
            </span>
          </span>
        </a>
        <a href="#" class="products__btn btn btn-reset inline-block">Додати в кошик</a>
      </li>
      <li class="products__item">
        <a class="products__link" href="#">
          <img src="./img/newproducts/mp05-gitara-1.jpeg" alt="Гітара Череп" class="products__img">
          <h3 class="products__title">Гітара Череп</h3>
          <span class="onsale">Розпродаж!</span>
          <span class="price">
            <span class="price__old">
              <bdi>3540,00&nbsp;
                <span class="price__currencySymbol">₴</span>
              </bdi>
            </span>
            <span class="price__new">
              <bdi>2800,00&nbsp;
                <span class="price__currencySymbol">₴</span>
              </bdi>
            </span>
          </span>
        </a>
        <a href="#" class="products__btn btn btn-reset inline-block">Додати в кошик</a>
      </li>
      <li class="products__item">
        <a class="products__link" href="#">
          <img src="./img/newproducts/p-29dr8-1.jpg" alt="Зірка Ерцгами" class="products__img">
          <h3 class="products__title">Зірка Ерцгами</h3>
          <span class="onsale">Розпродаж!</span>
          <span class="price">
            <span class="price__old">
              <bdi>3540,00&nbsp;
                <span class="price__currencySymbol">₴</span>
              </bdi>
            </span>
            <span class="price__new">
              <bdi>2800,00&nbsp;
                <span class="price__currencySymbol">₴</span>
              </bdi>
            </span>
          </span>
        </a>
        <a href="#" class="products__btn btn btn-reset inline-block">Додати в кошик</a>
      </li>
      <li class="products__item">
        <a class="products__link" href="#">
          <img src="../img/newproducts/pf08-1.jpeg" alt="Молот Тора" class="products__img">
          <h3 class="products__title">Молот Тора</h3>
          <span class="onsale">Розпродаж!</span>
          <span class="price">
            <span class="price__old">
              <bdi>3540,00&nbsp;
                <span class="price__currencySymbol">₴</span>
              </bdi>
            </span>
            <span class="price__new">
              <bdi>2800,00&nbsp;
                <span class="price__currencySymbol">₴</span>
              </bdi>
            </span>
          </span>
        </a>
        <a href="#" class="products__btn btn btn-reset inline-block">Додати в кошик</a>
      </li>
    </ul>

  </div>
</section>