// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/btn";
@import "./components/header";
@import "./components/breadcrumb";
@import "./components/info-product";
@import "./components/hero";
@import "./components/recent-products";
@import "./components/footer";


.main {
  margin-top: var(--header-height);

  @include md {
    margin-top: 0;
  }
}

.for-center-list {
  display: flex;
  justify-content: center;
  align-items: center;

}

